@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
.bigButton {
  background-color: #e1b554; }

.imageContainer, .mainInfoHeaderContent {
  position: relative; }

.closeButton {
  position: absolute; }

.mainContent {
  display: block; }

.navListItem, .mainInfoHeaderContent__button {
  display: inline-block; }

.imageContainer {
  opacity: 0; }

.closeButton {
  opacity: 0.5; }

.closeButton:hover, .imageContainer_fadeIn {
  opacity: 1; }

.controller__input,
.word,
.registrationFormController__input,
.logInFormController__input {
  width: 100%; }

.mainInfoHeaderContent, .mainInfoHeader__title {
  width: 49.7%; }

.logInFormButtons__button_name-forgotPassword, .mainInfoHeaderContent__button {
  float: right; }

.sk-cube-grid .sk-cube {
  float: left; }

.imageContainer, .bigButton {
  border-radius: 2px; }

.mainInfo {
  margin-top: 1em; }

.mainContent {
  margin-left: auto;
  margin-right: auto; }

.mainInfoHeaderContent, .formError {
  font-size: 0.88889em; }

.mainTitle {
  font-size: 1.16667em; }

@media (max-width: 800px) {
  .closeButton {
    font-size: 1.16667em; } }

.bigButton {
  font-weight: bold; }

.bigButton {
  transition: color 0.6s, background 0.5s, transform 0.5s, opacity 0.5s; }
  .bigButton:active {
    transform: translateY(3px); }

.closeButton {
  transition: color 0.6s, background 0.5s, opacity 0.7s, transform 0.5s; }

.imageContainer_fadeIn {
  transition: opacity 1.5s; }

.bigButton {
  padding: 10px 0; }
  .bigButton:hover {
    background-color: #d9a229;
    color: #3b3b3b; }

.closeButton {
  top: -20px;
  right: -20px;
  padding: 5px 10px;
  border: 2px solid #212121;
  border-radius: 50%;
  line-height: 100%;
  transform: none; }
  @media (max-width: 800px) {
    .closeButton {
      padding-top: 3px; } }
  .closeButton:hover {
    transform: rotate(25deg); }

html, body {
  box-sizing: border-box; }

body {
  color: #f7f7f7;
  padding: 5% 0;
  font-size: calc(.75rem + 1vw);
  line-height: 135%;
  font-family: 'PT Sans', sans-serif;
  background-color: #55626e; }
  body * {
    margin: 0;
    border: 0;
    padding: 0;
    outline-color: #6F95B5;
    box-sizing: inherit; }
    body *, body *::after, body *::before {
      box-sizing: inherit; }

.parent {
  display: flex; }
  .parent_h-between {
    justify-content: space-between; }
  .parent_row {
    flex-direction: row; }
  .parent_column {
    flex-direction: column; }
  .parent_wrap {
    flex-wrap: wrap; }
  .parent_centered {
    align-items: center;
    justify-content: center; }
  .parent_h-centered {
    justify-content: center; }
  .parent_v-centered {
    align-items: center; }

a {
  color: #f7f7f7;
  text-decoration: none; }
  a:hover {
    color: #f7f7f7; }
  a:active {
    color: #f7f7f7; }
  a:visited {
    color: #f7f7f7; }
  a:focus {
    color: #f7f7f7; }

.mainTitle, .mainInfoHeader__title {
  text-align: center; }

.mainTitle {
  font-weight: normal; }

.workPlaceContainer {
  padding: 2rem 1rem 0 1.5rem;
  min-width: 500px;
  max-width: 500px;
  max-heigth: 450px;
  margin: 0 auto;
  display: block; }

.mainInfoHeader__title {
  padding-top: 0.6em; }

.mainInfoHeaderContent {
  padding: 0.6em 1em 0; }

.mainInfoHeaderContent, .mainInfoHeader__title {
  background-color: #e1b554;
  vertical-align: middle;
  color: #212121;
  height: 70px; }

.mainInfoHeader__title {
  width: 33.33%;
  width: calc(33.33% - 1px); }

.mainInfoHeaderContent {
  width: 66.66%;
  width: calc(66.66% - 1px); }

.mainInfoHeaderContent {
  left: 2px; }

.relative {
  position: relative; }

.width_fill {
  min-width: 100%; }

.mainContent {
  background-color: #2c1d0d;
  min-height: 300px;
  max-height: 300px;
  padding: 1rem 1.5rem 0 2rem;
  overflow: hidden;
  color: #f7f7f7; }

.font-size_base {
  font-size: 1em; }

.font-weight_light {
  font-weight: 200; }

.font-weight_semi {
  font-weight: 600; }

.font-weight_bold {
  font-weight: 700; }

.margin-top_base {
  margin-top: 1rem; }

.margin-top_increased {
  margin-top: 1.5rem; }

.main {
  overflow: auto;
  max-height: 195px;
  position: relative;
  padding-right: 1rem;
  padding-left: .5rem;
  margin-top: 1.5rem;
  opacity: 0;
  will-change: opacity; }
  .main h1, .main h2, .main h3, .main h4 {
    margin-left: -4px; }

.controller {
  margin-top: .5rem; }

.wordsList {
  list-style: none; }

.controller__input {
  background-color: transparent;
  margin-top: .25rem; }

.loginFormController, .registrationFormController {
  margin-top: 0.2em; }

.controller__input,
.word,
.registrationFormController__input,
.logInFormController__input {
  border-bottom: 1px solid #b1b1b1;
  padding: 0.5em;
  color: #f7f7f7; }

.formError {
  color: #e1b554; }

.registrationFormController label, .logInFormController label {
  color: #f7f7f7 !important; }

.word {
  padding-left: 0;
  padding-right: 0; }

p, .listArticlesItem__paragraph {
  margin-top: 1em; }

.word:first-of-type {
  margin-top: 0.5em; }

.navListItem {
  width: 15.25424%;
  padding: 0 0.5em 1em; }

.logInFormButtons__button_name-forgotPassword {
  line-height: 1em; }

.filterPluginAlert {
  font-size: 18px;
  padding: 1em 2em; }

@supports (display: grid) {
  .word {
    display: grid;
    grid-template-columns: 40% 40% 20%; }
  .removeWord {
    grid-column-start: 3; } }

.mainInfoHeaderContent__button {
  padding: 0.4em 0.5em 0.5em;
  border: 1px solid #212121;
  margin-top: 0.3em; }

.allowOnThisSiteButton, .removeWord {
  text-align: right;
  color: #e1b554; }

.sk-cube-grid {
  width: 80px;
  height: 80px;
  margin: 80px auto;
  position: absolute;
  top: 10%;
  left: calc(50% - 40px); }

.sk-cube-grid .sk-cube {
  width: 33.33%;
  height: 33.33%;
  background-color: #f4f4f4;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0.0s;
  animation-delay: 0.0s; }

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }

.logInForm, .registrationForm {
  color: #f7f7f7; }

/*
 *  STYLE 2
 */
.main::-webkit-scrollbar-track {
  border-radius: 10px; }

.main::-webkit-scrollbar {
  width: 12px; }

.main::-webkit-scrollbar, .main::-webkit-scrollbar-track {
  background-color: #55626e; }

.main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e1b554; }
