$i: !important

@import 'styles/_easings.sass'
@import 'styles/_conf.sass'
@import 'styles/_background.sass'
@import 'styles/_position.sass'
@import 'styles/_display.sass'
@import 'styles/_grid.sass'
@import 'styles/_border.sass'
@import 'styles/_margin.sass'
@import 'styles/_font.sass'
@import 'styles/_transition.sass'
@import 'styles/_blocks.sass'


html, body
  box-sizing: border-box

body
  & *
    margin: 0
    border: 0
    padding: 0
    outline-color: #6F95B5
    box-sizing: inherit

    &, &::after, &::before
      box-sizing: inherit

  color: $defaultColor
  padding: 5% 0
  font-size: 18px
  line-height: 135%
  font-family: 'PT Sans', sans-serif
  background-color: $backgroundColor


@import './styles/_color.sass'
@import './styles/_mixins.sass'
.parent
  display: flex

  &_h-between
    justify-content: space-between

  &_row
    flex-direction: row

  &_column
    flex-direction: column

  &_wrap
    flex-wrap: wrap

  &_centered
    align-items: center
    justify-content: center

  &_h-centered
    justify-content: center

  &_v-centered
    align-items: center

a
  @include link-colors($one-color: #f7f7f7)
  text-decoration: none

%textCenter
  text-align: center

.mainTitle
  @extend %textCenter
  font-weight: normal
  @extend %fs-21

.workPlaceContainer
  padding: 2rem 1rem 0 1.5rem
  min-width: 500px
  max-width: 500px
  max-heigth: 450px
  margin: 0 auto
  display: block

.mainInfo
  @extend %defaultMarginTop

.mainInfoHeader__title
  @extend %textCenter
  padding-top: 0.6em
.mainInfoHeaderContent
  @extend %fs-16
  padding: 0.6em 1em 0
.mainInfoHeaderContent, .mainInfoHeader__title
  background-color: $first
  vertical-align: middle
  color: $darkGray
  @extend %halfWidth
  height: 70px

.mainInfoHeader__title
  width: 33.33%
  width:  calc(33.33% - 1px)

.mainInfoHeaderContent
  width: 66.66%
  width: calc(66.66% - 1px)

.mainInfoHeaderContent
  @extend %relative
  left: 2px

.relative
  position: relative
.width_fill
  min-width: 100%

.mainContent
  background-color: $listWordsBackground
  min-height: 300px
  max-height: 300px
  padding: 1rem 1.5rem 0 2rem
  overflow: hidden
  @extend %centerBlock
  color: $white

.font

  &-size

    &_base
      font-size: 1em
  &-weight

    &_light
      font-weight: 200

    &_semi
      font-weight: 600

    &_bold
      font-weight: 700

.margin

  &-top

    &_small
      margin-top: .5rem

    &_base
      margin-top: 1rem

    &_increased
      margin-top: 1.5rem

.main
  overflow: auto
  max-height: 195px
  position: relative
  padding-right: 1rem
  padding-left: .5rem
  margin-top: 1.5rem
  opacity: 0
  will-change: opacity

  h1, h2, h3, h4
    margin-left: -4px



.controller
  margin-top: .5rem

.wordsList
  list-style: none

.controller__input
  background-color: transparent
  margin-top: .25rem

.controller__input,
.word
  border-bottom: 1px solid $gray
  @extend %fullWidth
  padding: 0.1rem 0.5rem .75rem
  color: $white
  transition-timing-function: $standart
  transition-duration: 250ms

  &:focus
    outline: none
    border-color: $first
.button
    padding: 0.4rem 0.5rem 0.75rem

    &_yellow
      background-color: $first
      color: $darkGray
      
    &_red
      background-color: $second
      color: $white

    &_white
      background-color: $white

    &_blueColor
      color: $third

    &_redColor
      color: $third

    &_blue
      background-color: $third
      color: $white

    &_blackShadow
      box-shadow: 2px 4px 6px rgba(0,0,0,.5)

    &_whiteShadow
      box-shadow: 2px 4px 6px rgba(0,0,0,.25)





.formError
  color: $second
  font-weight: bold
  @extend %fs-16

.registrationFormController label, .logInFormController label
    color: $white $i
.word
  padding-left: 0
  padding-right: 0

p, .listArticlesItem__paragraph
  margin-top: 1em
.word:first-of-type
  margin-top: 0.5em

.navListItem
  @extend %inlineBlock
  width: span(2 of 12);
  padding: 0 0.5em 1em;

.logInFormButtons__button_name-forgotPassword
  @extend %toRight
  line-height:  1em
.filterPluginAlert
  font-size: 18px
  padding: 1em 2em

@supports (display: grid)
  .word
    display: grid
    grid-template-columns: 40% 40% 20%
  .removeWord
    grid-column-start: 3


.mainInfoHeaderContent__button
  padding: 0.4em 0.5em 0.5em;
  border: 1px solid #212121;
  @extend %inlineBlock
  @extend %toRight
  margin-top: 0.3em;
.allowOnThisSiteButton, .removeWord
  text-align: right
  color: $first

.sk-cube-grid
  width: 80px
  height: 80px
  margin: 80px auto
  position: absolute
  top: 10%
  left: calc(50% - 40px)

.sk-cube-grid .sk-cube
  width: 33.33%
  height: 33.33%
  background-color: #f4f4f4
  @extend %toLeft
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out
.sk-cube-grid .sk-cube1
  -webkit-animation-delay: 0.2s
  animation-delay: 0.2s
.sk-cube-grid .sk-cube2
  -webkit-animation-delay: 0.3s
  animation-delay: 0.3s
.sk-cube-grid .sk-cube3
  -webkit-animation-delay: 0.4s
  animation-delay: 0.4s
.sk-cube-grid .sk-cube4
  -webkit-animation-delay: 0.1s
  animation-delay: 0.1s
.sk-cube-grid .sk-cube5
  -webkit-animation-delay: 0.2s
  animation-delay: 0.2s
.sk-cube-grid .sk-cube6
  -webkit-animation-delay: 0.3s
  animation-delay: 0.3s
.sk-cube-grid .sk-cube7
  -webkit-animation-delay: 0.0s
  animation-delay: 0.0s
.sk-cube-grid .sk-cube8
  -webkit-animation-delay: 0.1s
  animation-delay: 0.1s
.sk-cube-grid .sk-cube9
  -webkit-animation-delay: 0.2s
  animation-delay: 0.2s
@-webkit-keyframes sk-cubeGridScaleDelay
  0%, 70%, 100%
    -webkit-transform: scale3D(1, 1, 1)
    transform: scale3D(1, 1, 1)
  35%
    -webkit-transform: scale3D(0, 0, 1)
    transform: scale3D(0, 0, 1)
@keyframes sk-cubeGridScaleDelay
  0%, 70%, 100%
    -webkit-transform: scale3D(1, 1, 1)
    transform: scale3D(1, 1, 1)
  35%
    -webkit-transform: scale3D(0, 0, 1)
    transform: scale3D(0, 0, 1)
.logInForm, .registrationForm
  color: $white


.main_registration

.main_signIn

/*
 *  STYLE 2
 */

.main::-webkit-scrollbar-track
  border-radius: 10px

.main::-webkit-scrollbar
  width: 12px

.main::-webkit-scrollbar,   .main::-webkit-scrollbar-track

  background-color: $third

.main::-webkit-scrollbar-thumb
  border-radius: 10px
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
  background-color: $first
