<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="./main.css">
</head>
<body>
	<div id="alert" class='allert'></div>
	<!-- begin container -->
	<div class="workPlaceContainer">
		<h3 class="mainTitle">Which a noise do you want to drown out?</h3>
		<!-- begin mainInfo -->
		<div class="mainInfo">
			<!-- begin mainInforHeader -->
			<header id="header" class="mainInfoHeader">
				<h4 class="mainInfoHeader__title">Unwished words</h4>
				<div class="mainInfoHeaderContent">
					Found&nbsp;
					<span id='quantityBadContent' class='mainInfoHeaderContent__quantityWords'></span>
					unwhished content on &nbsp;
					<strong id='domainName' class='mainInfoHeaderContent__domain'></strong>
				</div>
			</header>
			<!-- end mainInforHeader -->
			<!-- begin mainContent -->
			<main class="mainContent">
				<!-- begin addWordForm -->
				<form id="addWordForm"
					class='addWordForm'	
					method='post'>
					<!-- begin input-group -->
					<div class="controller">
						<input name='word' 
							id='addWordField'
							class='controller__input' type='text' maxlength="100" minlength="1" placeholder="Type a word" />
					</div>


					<!-- end input-group -->
				</form>
				<!-- end addWordForm -->
				<!-- begin wordsList -->
				<ul id='wordsList' class="wordsList">
					
				</ul>
				<!-- end wordsList -->
			</main>
			<!-- end mainContent -->
			
		</div>
		<!-- end mainInfo -->
	</div>
	<!-- end container -->
	<!-- begin controller -->
	
	</div>
	<!-- END container -->
	<script src="./main.js"></script>
	<script src="./popup.js"></script>
</body>

</html>