%fs-16
	font-size: 	(16em / $baseFontSize)
%fs-18
	font-size: 	(18em / $baseFontSize)
%fs-21
	font-size: 	(21em / $baseFontSize)
%fs-24
	font-size: 	(24em / $baseFontSize)
%fs-28
	font-size: 	(28em / $baseFontSize)
%fs-21-xs
	@include breakpoint($xs)
		font-size: 	(21em / $baseFontSize)
%fs-28-xs
	@include breakpoint($xs)
		font-size: 	(28em / $baseFontSize)
%fs-32-xs
	@include breakpoint($xs)
		font-size: 	(32em / $baseFontSize)
%bold
	font-weight: bold
